################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab4/obj/Release/net5.0
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/